* {
    margin: 0;
    padding: 0;

}

#heading {
    text-align: center;
    font-size: 24pt;
    font-weight: 900;
    text-decoration: underline;
}

.box {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 5px;
}

#box1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: blue; 
}

#box2 {
     grid-row: 2/2;
    grid-column: 2/2;
    background-color: blueviolet;
}

#box3 {
     grid-row: 2/2;
    grid-column: 1/2;
    background-color: brown;
    
}

#box4 {
     grid-row: 1/2;
    grid-column: 2/2;
    background-color: burlywood;
    
}

#container {
    padding: 10px;
    margin: 20px;
    height: 600px;
    width: 600px;
    border: 3px solid black;
    background-color: lavenderblush;

    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-rows: 50px 100px;
}