*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    position: absolute;
    left: 40%;
    top: 10%;
}

.main-div{
    position:absolute;
    top: 20%;
    left: 20%;
    display: grid;
    width: 60%;
    max-width: 60%;
    grid-template-columns: 13em 13em 7em;
}

.task-list{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    display: grid;
    grid-template-columns: 13em 200px 7em;
    gap: 5px;
}

.date{
    height: 3em;
    width: 13em;
    flex-shrink: 3;
}

.new-task{
    height: 3em;
    width: 13em;
    flex-shrink: 3;
}

.delete-btn{
    height: 3em;
    width: 7em;
    flex-shrink: 3;
    color: white; 
    background-color: maroon;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.add-task{
    height: 3em;
    width: 7em;
    flex-shrink: 3; 
    background-color: forestgreen;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}