.buttons{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.my-btn{
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

#red{background-color: red;}
#green{background-color: green}
#blue{background-color: blue;}
#white{background-color: white;}